---
import Layout from '../layouts/Layout.astro';
import TopNav from '../components/TopNav.astro';
import Hero from '../components/Hero.astro';
import SobreSerie from '../components/SobreSerie.astro';
import Produccion from '../components/Produccion.astro';
import Equipo from '../components/Equipo.astro';
import Medios from '../components/Medios.astro';
import Prensa from '../components/Prensa.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="CREADORES - Serie Documental sobre Desarrolladores de Videojuegos en Chile">
  <TopNav />
  <main>
    <Hero />
    <SobreSerie />
    <Produccion />
    <Equipo />
    <Medios />
    <Prensa />
    <Contacto />
  </main>
  <Footer />
</Layout> 